<div class="p-2">
  {{!-- {{#each InputURL}} --}}

  <form action="/records" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="email" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Input URL here" name="URL">
    </div>

    <a class="btn btn-primary" type="submit" >Shorten</a>
  </form>

</div>
{{!--
{{/each}} --}}